/* Write your CSS here */
.popular-heading {
  font-family: 'lobster';
}
.lang-filter-contaier {
  list-style: none;
  padding: 0px;
  display: flex;
}
.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.all-items-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  list-style: none;
}
